.timing {
  display: flex;
  justify-content: space-between;
  background-color: #AB5636;
  border: 1px solid #817c7bd7;
  padding: 5px 7px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 15px
}
.timing .name {}
.timing .date {}